# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment files

.env
.env.test
.env.prod
.venv
env/
venv/
aicvenv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm
.idea/
*.iml

# VS Code
.vscode/
/static/audio/


# log
*.log
careerx*.log
logs/

# sqlite
*.sqlite
*.sqlite3

# alembic
#/requirements.txt



.lingma/*
/.codebuddy/.rules/my-rule.mdc
/.qoder/

# git忽略上传到后端目录下的pdf/docx等简历文件
.pdf
.doc
.docx

# 忽略开发时专门用来给claude code读取的临时文件目录
.claude_read_file/